@import 'tailwindcss';

@theme {
	--color-flame-pea-50: #fdf5ef;
	--color-flame-pea-100: #fbe8d9;
	--color-flame-pea-200: #f6ceb2;
	--color-flame-pea-300: #f0ac81;
	--color-flame-pea-400: #e9814e;
	--color-flame-pea-500: #e3602c;
	--color-flame-pea-600: #dd4d25;
	--color-flame-pea-700: #b1361d;
	--color-flame-pea-800: #8d2c1f;
	--color-flame-pea-900: #72271c;
	--color-flame-pea-950: #3d110d;
}
